@import "tailwindcss";

/* 重置样式，但保留 Tailwind 类的优先级 */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lightpurple {
    background-color: #EDD3ED;
}
.footer-purple {
    background-color: #5C4599;
}
.bord-white {
    background-color: #F0EDF0;
}